
<app-nav-bar></app-nav-bar>
<div class="container" style="text-align: center; padding-top: 1cm;">

  <app-parent></app-parent>

  <app-sender></app-sender>

  <app-receiver></app-receiver>

  
</div>

<div class="container">
  <app-mouse></app-mouse>

 <app-colour-change></app-colour-change>

 <app-hide></app-hide>

 <app-fetch></app-fetch>
</div>


<hr>
<div class="container">
  <p>{{'midhun' | reverse}}</p>

  <p>{{ 'abcdefg' | vowels}}</p>


  <h5>{{'abcde' | reverse | uppercase }}</h5>
</div>


<div class="container">
  <input type="text" placeholder="Enter text.here" appNumberOnly >
</div>


<div class="container" appRightClickPrevent style="width: 300px; height: 300px; background-color: red;">
  <h1>Hello</h1>
</div>